<%= form_for [@review_type, @review] do |f| %>

<div id="star-rating"></div>

  <%= render 'form' %>

<% end %>

<script>
  $('#star-rating').raty({
    path: 'http://review1.blob.core.windows.net/stars',
    scoreName: 'review[rating]'
  });
</script>